services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/bible-chat
      - REDIS_URL=redis://default:password@redis:6379
    depends_on:
      - postgres
      - redis
    command: npm run dev

  postgres:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bible-chat
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    restart: always
    command: redis-server
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
